<template name="home">
  <div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">
      <h1>Welcome to Meteor Order app!</h1>
      <p>
        This's a simple order application built with <a href="http://www.meteor.com/">Meteor</a> framework.
        This app enables user to add, edit and delete restaurants.
        Also they can make orders! make sure that you're logged in before making orders.
      </p>
      <p>
        The application is hosted on Meteor hosting service, and this project is open-source. you can
        find the code at <a href="https://github.com/alyahmmed/meteor-order-app">Github</a>
        repository, where you support and report bugs.
      </p>
    </div>
  </div>
</template>
